.notifications-block{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 20px;
  right: 20px;
  z-index: 10000;
  max-width: 440px;
  width: 100%;
}

.notification-item{
  width: 100%;
  transition: opacity 0.3s ease;
  background-color: var(--tertiary);
  color: var(--secondary);
  border-radius: var(--d-border-radius);
  box-shadow: var(--shadow-menu-panel);
  padding: 1em;
  box-sizing: border-box;
  position: relative;
}

.notification-item__title{
  font-size: var(--base-font-size-larger);
  font-weight: bold;
  margin-bottom: 0.25em;
}

.notification-item__content{
  word-break: break-word;
}

.notification-item__content a{
  color: var(--secondary);
  text-decoration: underline;
}

.notification-item__button-ok{
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.notification-item__cross{
  position: relative;
  width: 100%;
  height: 100%;
}

.notification-item__cross:before, .notification-item__cross:after {
  position: absolute;
  left: 9px;
  top: 5px;
  content: '';
  height: 10px;
  width: 2px;
  background-color: var(--secondary);
}

.notification-item__cross:before {
  transform: rotate(45deg);
}

.notification-item__cross:after {
  transform: rotate(-45deg);
}

.post-enqueued-modal, .post-enqueued-modal ~ .d-modal__backdrop {
  display: none;
}
